html
{
    font-family: Verdana, sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

/* 
    CSS code for 'popup.html' web page.
*/

.popupMenu {
    width:450px;
    height:350px;
    padding: 0;
    margin: 0;
}

.popupTopMenu {
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 50px 250px 50px 50px;
    column-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
    background: #F5F5F5;
}

.popupTopMenu img {
    width: 30px;
    height: 30px;
    padding: 5px 10px;
}

.popupTopMenu h2 {
    text-align: center;
    font-size: 22px;
    height: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-block: 0;
}

.popupBottomMenu {
    width: 450px;
    height: 240px;
    float: center;
    align-items: center;
}

.popupBottomMenu button {
    width: 350px;
    height: 50px;
    margin: 0 50px 30px 50px;
    font-size: 20px;
}

/* 
    CSS code for 'userEducationMenu.html' web page.
*/

.educationTopMenu
{
    min-height: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 125px auto 125px;
    column-gap: 10px;
    padding: 2.5%;
    background: #F5F5F5;
}

.educationTopMenu img
{
    max-width: 60px;
    padding: 10px 5px;
}

.educationTopMenu h2
{
    height: inherit;
    text-align: center;
    font-size: 2.2rem;
    padding: 7px auto;
    margin-block: 0;
}

.educationTopMenu p
{
    text-align: center;
    font-size: 24px;
    margin-block: 0;
}

.educationTopMenu button
{
    width: 100%;
    height: 60%;
    margin: 7.5% auto;
}

.educationBottomMenu
{
    display: grid;
    align-items: center;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 45% 45%;
    column-gap: 5%;
    row-gap: 7.5%;
    padding: 2.5%;
    min-height: 500px;
}

.educationBottomMenuItem
{
    height: 100%;
    width: 100%;
}

.educationBottomMenuItem button
{
    margin: 2.5% 10%;
    font-size: 20px;
    width: 80%;
    height: 90%;
}

.educationBottomMenuItem img
{
    width: 17.5%;
    margin: 2.5% auto;
}

.educationBottomMenuItem p
{
    width: 100%;
    padding-bottom: 2.5%;
}

/* 
    CSS code for 'template.html' web page.
*/

.articleMenu
{
    width: 100%;
    display: grid;
    min-height: 80vh;
    align-items: center;
    grid-template-rows: 60px auto;
}

.articleTopBar
{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 60px auto 20% 60px;
}

.title, .jumpTo
{
    height: 60px;
    width: 100%;
}

.jumpTo
{
    background: #F5F5F5;
}

.articleTopBar h3,h4
{
    font-size: 22px;
    text-align: center;
    margin-block: 0;
}

.articleLogo img
{
    width: 35px;
    padding: 11.5px;
}

.articleBottomBar
{
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
}

.navBar
{
    height: 100%;
}

.navBar ul
{
    background: #F5F5F5;
    margin: 0;
    height: 100%;
}

.navBar li
{
    font-size: 16px;
    margin-bottom: 10px;
}

/* 
    CSS code for 'blockedPage.html' web page.
*/

.blockMenu
{
    height: 85vh;
    display: grid;
    grid-template-columns: 100px auto 100px;
}

.col2
{
    display: grid;
    grid-template-rows: 80px auto 160px 20fr;
}


.blockedPageTopSection
{
    display: grid;
    align-items: center;
    grid-template-columns: 125px auto 125px;
    background: #F5F5F5;
    padding: 20px;
    height: 10vh;
}

.blockedPageTopSection img
{
    max-width: 60px;
    padding: 10px 5px;
}

.blockedPageTopSection h2
{
    text-align: center;
    font-size: 2.2rem;
    margin-block: 0;
}

.blockedPageTopSection p
{
    text-align: center;
    font-size: 24px;
    margin-block: 0;
}

.blockedPageTopSection button
{
    width: 100%;
    height: 60%;
    margin: 7.5% auto;
}

.threats, .extraInfo
{
    padding-bottom: 50px;;
}

.threats table
{
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

#threatsTable th, #threatsTable td
{
    border: 2px solid black;
    min-height: 100px;
    padding: 20px;
}

#threatsTable .threatsHeader
{
    font-size: 22px;
}

#threatsTable .threatName
{
    width: 20%;
    text-align: center;
}

.blockedPageURL
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.blockedPageURL p
{
    font-size: 20px;
    margin-block: 0;
}

#URL
{
    color: red;
    font-weight: bold;
}

.extraInfo p
{
    margin: 0;
    padding: 30px;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
}


.threats
{
    padding-bottom: 25px;;
}

.threats table
{
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.threatsTable th, .threatsTable td
{
    border: 2px solid black;
    min-height: 100px;
    padding: 20px;
}

.threatsTable .threatsHeader
{
    font-size: 22px;
}

.threatsTable .threatName
{
    width: 20%;
    text-align: center;
}
