/*
    Generic CSS Code (used in all pages)
*/

a {
    text-decoration: none;
}

html {
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


/*
    CSS header structure for 'blockedPage.html', 'blockedConfirmationPage.html', 'querying.html', 'paymentInfoPopup.html'
*/

.blockedPageTopSection {
    display: grid;
    align-items: center;
    grid-template-columns: 125px auto 125px;
    background: #F5F5F5;
    padding: 20px;
    height: 10vh;
}

.blockedPageTopSection img {
    max-width: 60px;
    padding: 10px 5px;
}

.blockedPageTopSection h2 {
    text-align: center;
    font-size: 2.2rem;
    margin-block: 0;
}

.blockedPageTopSection p {
    text-align: center;
    font-size: 24px;
    margin-block: 0;
}

.blockedPageTopSection button {
    width: 100%;
    height: 60%;
    margin: 7.5% auto;
}


/*
    CSS for 'popup.html' page.
*/

.popupMenu {
    width:450px;
    height:350px;
    padding: 0;
    margin: 0;
}

.popupTopMenu {
    height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 50px 250px 50px 50px;
    column-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 25px;
    background: #F5F5F5;
}

.popupTopMenu img {
    width: 30px;
    height: 30px;
    padding: 5px 10px;
}

.popupTopMenu h2 {
    text-align: center;
    font-size: 22px;
    height: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-block: 0;
}

.popupBottomMenu {
    width: 450px;
    height: 240px;
    align-items: center;
}

.popupBottomMenu button {
    width: 350px;
    height: 50px;
    margin: 0 50px 30px 50px;
    font-size: 20px;
    display: inline-block;
}

/*
    CSS for 'userEducationMenu.html' page.
*/

.educationTopMenu {
    min-height: 60px;
    display: grid;
    align-items: center;
    grid-template-columns: 125px auto 125px;
    column-gap: 10px;
    padding: 2.5%;
    background: #F5F5F5;
}

.educationTopMenu img {
    max-width: 60px;
    padding: 10px 5px;
}

.educationTopMenu h2 {
    height: inherit;
    text-align: center;
    font-size: 2.2rem;
    padding: 7px 0;
    margin-block: 0;
}

.educationTopMenu p {
    text-align: center;
    font-size: 24px;
    margin-block: 0;
}

.educationTopMenu button {
    width: 100%;
    height: 60%;
    margin: 7.5% auto;
}

.educationBottomMenu {
    display: grid;
    align-items: center;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: 45% 45%;
    column-gap: 5%;
    row-gap: 7.5%;
    padding: 2.5%;
    min-height: 500px;
}

.educationBottomMenuItem {
    height: 100%;
    width: 100%;
}

.educationBottomMenuItem button {
    margin: 2.5% 10%;
    font-size: 20px;
    width: 80%;
    height: 90%;
}

.educationBottomMenuItem img {
    width: 17.5%;
    margin: 2.5% auto;
}

.educationBottomMenuItem p {
    width: 100%;
    padding-bottom: 2.5%;
}

/*
    CSS for 'blockedPage.html' and 'blockedConfirmationPage.html' pages.
*/

.blockMenu {
    height: 85vh;
    display: grid;
    grid-template-columns: 100px auto 100px;
}

.col2 {
    display: grid;
    grid-template-rows: 80px auto 160px 20fr;
}

.threats, .extraInfo {
    padding-bottom: 50px;
}

.threats table {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

#threatsTable th, #threatsTable td {
    border: 2px solid black;
    min-height: 100px;
    padding: 20px;
}

#threatsTable .threatsHeader {
    font-size: 22px;
}

#threatsTable .threatName {
    width: 20%;
    text-align: center;
}

.blockedPageURL {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.blockedPageURL p {
    font-size: 20px;
    margin-block: 0;
}

#URL {
    color: red;
    font-weight: bold;
}

.extraInfo p {
    margin: 0;
    padding: 30px;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
}

/*
    CSS for 'querying.html' page.
*/

.queryMessage {
    width: 90%;
    padding: 10% 5%;
    font-size: 22px;
    text-align: center;
}

.midText {
    width: 50%;
    margin-left: 25%;
}

.midText p {
    text-align: center;
}

.midText li, p {
    padding-top: 5px;
}

.browserTitle {
    font-size: 24px;
    padding-left: 5%;
    text-decoration: solid;
}

.browserInstructions {
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

/*
    CSS for the 13 'learnAbout' article pages.
*/

.articleTopMenu {
    min-height: 80px;
    display: grid;
    align-items: center;
    grid-template-columns: 125px auto 125px;
    column-gap: 10px;
    padding: 2%;
    background: #F5F5F5;
}

.articleTopMenu img {
    max-width: 60px;
    padding: 10px 5px;
}

.articleTopMenu h2 {
    height: inherit;
    text-align: center;
    font-size: 2rem;
    margin-block: 0;
}

.articleTopMenu p {
    text-align: center;
    font-size: 24px;
    margin-block: 0;
}

.articleTopMenu button {
    width: 100%;
    height: 60%;
    margin: 7.5% auto;
}

.articleMenu {
    width: 100%;
    display: grid;
    min-height: 80vh;
    align-items: center;
    grid-template-rows: 120px auto;
}

.articleTopBar {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 120px auto 120px;
}

.articleTopBar h3,h4 {
    text-align: center;
    margin-block: 0;
}

.jumpTo {
    height: 30px;
    width: 100%;
    background: #F5F5F5;
    padding-top: 45px;
    padding-bottom: 45px;
}

.jumpTo h3 {
    font-size: 1.6rem;
}

.title {
    font-size: 1.8rem;
    height: 30px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.title h2 {
    font-size: 1.6rem;
    padding-top: 45px;
    height: 30px;
    padding-bottom: 45px;
}

.articleLogo {
    width: 120px;
    height: 100%;
}

.articleLogo img {
    width: 75%;
    height: 75%;
    padding: 12.5%;
}

.articleBottomBar {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
}

.navBar {
    height: 100%;
    background: #F5F5F5;
}

.navBar ul {
    margin: 0;
    height: inherit;
}

.navBar li {
    font-size: 1.3rem;
    margin: 20px 0;
}

.mainContent {
    padding: 1.5%;
}

.mainContent h1 {
    padding: 20px 0;
    font-size: 1.8rem;
    text-align: center;
}

.mainContent p, .mainContent li {
    font-size: 1.4rem;
    padding-top: 10px;
}

.paymentMessage {
    text-align: center;
    font-size: 1.2rem;
    margin: 2.5% 0;
}

#payment-info-popup {
    margin: 4% 10%;
}

#payment-info-popup li {
    margin-left: 25%;
    font-size: 1.2rem;
}

#payment-info-popup button {
    width: 20%;
    min-height: 80px;
    margin: 3.5% 14.5%;
    font-size: 1.4rem;
}

/*
    CSS for 'learnAboutCyberThreats.html' and 'learnAboutDeviceSecurity.html' pages.
*/

.articleNavPage {
    width: 50%;
    margin: 2.5% 25%;
    height: 100%;
}

.articleNavPage ul {
    width: 50%;
    margin: 5% 0;
}

.articleNavPage li {
    padding: 5%;
    margin: 5%;
    border: black solid;
}

.articleMenuItems button {
    min-height: 40px;
    width: 100%;
}

.articleMenuItems {
    display: flex;
    flex-direction: column;
}

.articleMenuItems button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.articleName {
    flex: 1;
}

.articleName {
    font-size: 22px;
}

.settings {
    margin: 2.5% 20%;
    width: 60%;
}

.setting p {
    font-size: 22px;
    text-align: center;
}

.setting button {
    font-size: 20px;
    width: 20%;
    padding: 1%;
    margin: 1% 40%;
}

/*
    CSS for 'showBlockHistory.html' page.
*/

.blockHistoryPage h1 {
    text-align: center;
    margin: 2.5% 0;
    font-size: 28px;
}

#blockListTable {
    width: 95%;
    margin: 0 2.5%;
    text-align: center;
}

#blockListTableURL {
    width: 22.5%;
}

#blockListTableCategories {
    width: 55%;
}

#blockListTableTimestamp {
    width: 22.5%;
}

#blockListTable th, #blockListTable td {
    border: 2px solid black;
    min-height: 100px;
    padding: 15px;
}

#blockListHeader {
    font-size: 20px;
}

#blockListBody {
    font-size: 17px;
}

/*
    CSS for 'reportIssue.html' page.
*/

.reportIssueMenu {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
}

.reportIssueMenu p {
    font-size: 18px;
    text-align: center;
}